body {
  font-family: "Josefin Sans", sans-serif;
}

.navbar {
  background: linear-gradient(
    to right,
    #1477d2,
    #1a8ae5,
    #1e97f3,
    #41a7f5,
    #64b7f6
  );
  font-size: 25px;
}

.navbar-nav {
  width: 100%;
  justify-content: space-around;
}

.navbar-nav .nav-item {
  text-align: center;
}

.navbar-nav .nav-link {
  display: block;
  padding: 8px 16px;
  transition: background 0.3s ease;
}

.navbar-nav .nav-link:hover {
  background: #add8e6;
}

.navbar-toggler {
  order: -1;
}

.navbar-nav .btn {
  display: flex;
  align-items: center;
}

.hero-desc {
  color: #454545;
}
