body {
  font-family: "Josefin Sans", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
}
img {
  max-width: 100%;
  height: auto;
}
.navbar {
  background: linear-gradient(
    to right,
    #1477d2,
    #1a8ae5,
    #1e97f3,
    #41a7f5,
    #64b7f6
  );
  font-size: 25px;
}

.navbar-nav {
  width: 100%;
  justify-content: space-around;
}

.navbar-nav .nav-item {
  text-align: center;
}

.navbar-nav .nav-link {
  display: block;
  padding: 8px 16px;
}

.navbar-toggler {
  order: -1;
}

.navbar-nav .btn {
  display: flex;
  align-items: center;
}

.navbar-nav .nav-link:hover {
  background: #add8e6;
}
.navbar-nav .dropdown-menu {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.navbar-nav .nav-item {
  margin-right: 10px;
}

.navbar-logo {
  max-width: 100px;
}

.hero-desc {
  color: #454545;
}

.header-section {
  background-color: #f8f9fa;
  border: 1px solid #dee2e6;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
}

.header-section h1 {
  font-size: 28px;
  margin-bottom: 15px;
  color: #000;
}

.header-section p {
  font-size: 16px;
  color: #6c757d;
}

.search-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #f2f2f2;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin: 20px 0;
}

#locationInput {
  padding: 10px 15px;
  width: 50%;
  border: 2px solid #007bff;
  border-radius: 5px;
  font-size: 16px;
}

@media (max-width: 768px) {
  #locationInput {
    width: 80%;
  }
}
.main-content {
  width: 80%;
  margin: auto;
  padding: 20px;
}

.row {
  display: flex;
  justify-content: space-between;
}

.col-md-6 {
  flex: 0 0 48%;
  max-width: 48%;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

#searchButton {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-left: 10px;
}

#searchButton:hover {
  background-color: #0056b3;
}

.footer {
  background: linear-gradient(
    to right,
    #1477d2,
    #1a8ae5,
    #1e97f3,
    #41a7f5,
    #64b7f6
  );
  padding: 40px 0;
  color: #333;
  text-align: center;
  clear: both;
}

.footer-divider {
  border-top: 1px solid #85bdf5;
  margin-bottom: 30px;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.footer-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .footer-container {
    flex-direction: row;
    justify-content: space-around;
  }
  @media (max-width: 768px) {
    .navbar-nav .nav-link,
    .navbar-nav .dropdown-menu {
      white-space: normal;
    }
  }
  .footer-section {
    align-items: flex-start;
  }
}

.footer-section h3 {
  color: #343a40;
  margin-bottom: 15px;
}

.footer-section a {
  color: #000;
  text-decoration: none;
  margin-bottom: 10px;
}

.social-icons {
  display: flex;
  justify-content: center;
  list-style-type: none;
  height: 15px;
  margin: 0 10px;
}

.social-icons li {
  margin: 0 10px;
}

.app-stores {
  display: flex;
  justify-content: center;
}

.app-stores img {
  width: 120px;
  margin: 0 5px;
}

.footer-section a:hover,
.social-icons li:hover,
.app-stores img:hover {
  opacity: 0.8;
}
